.mb-4{
    display: flex;
    flex-direction: row;
}
.firstsec input{
    width: 30%;
}
.secondsec input{
    width: 30%;
}
textarea{
    width: 30%;
}
.authsection{
    margin-left: 120px;
    margin-top: 70px;
}
.username input{
    margin-left: 200px;
}
.about textarea{
    width: 100%;
    margin-left: 230px;
}
.abeg p{
    margin-left: 230px;
}
.photo input{
    width: 150px;
}
.photo img{
    height: 40px;
    width: 40px;
    margin-left: 230px;
}
h4{
    margin-bottom: 30px;
}
.fullname input{
    margin-left: 200px;
}
.email input{
    margin-left: 235px;
}
.country input{
    margin-left: 210px;
}
.address textarea{
    margin-left: 160px;
}
.city input{
    margin-left: 240px;
}
.state input{
    margin-left: 230px;
}
.number input{
    margin-left: 160px;
}
.form-footer {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}
.form-footer button{
    background-color: #B5C18E;
    color: black;
    border-radius: 40px;
    padding: 6px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.xtrabtn button{
    background-color: white;
    border: #B5C18E;
}
 