<app-nav-bar></app-nav-bar>

<main>
    <h1>Account Settings</h1>
    <div class="settings-grid">
        <div class="settings-item">
            <div class="settings-icon">👤</div>
            <div routerLink="/profile-edit">USER PROFILE</div>
        </div>
        <div class="settings-item">
            <div class="settings-icon">📚</div>
            <div>RECIPE CABINET</div>
        </div>
        <div class="settings-item">
            <div class="settings-icon">👥</div>
            <div>COMMUNITY KITCHEN</div>
        </div>
        <div class="settings-item">
            <div class="settings-icon">📝</div>
            <div>CHEF'S THOUGHTS</div>
        </div>
        <div class="settings-item">
            <div class="settings-icon">🗑</div>
            <div>DELETE ACCOUNT</div>
        </div>
    </div>
</main>