.header {
    background-color:#F0F3E8;
    color: rgb(9, 8, 8);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .search button {
    padding: 8px 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-link p {
    margin-right: 10px;}
    .dropdown {
      float: right;
      overflow: hidden;}
      .dropdown .dropbtn {
        border: none;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        margin: 0; 
        margin-right: 10px;
      }

      .dropdown:hover .dropbtn {
        background-color: white;
      }

      .dropdown-content {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content li {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropdown-content li:hover {
        background-color: #ddd;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropdown-content a:hover {
        background-color: #ddd;
      }