footer{
  background-color: #45522C;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 14px;
}
.footer-container{
  display: flex;
  align-items: center;
}
input.form-control{
  padding: 10px;
  border-radius: 10px;
  max-width: 271px;
  color: #45522C;
}
.footer-form {
  display: flex;
  gap: 10px;
}
.footer-form-button{
  padding: 10px;
  border-radius: 10px;
  width: 15%;
  background-color:#B5C18E ;
  color:#45522C ;
}
.social-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
}
.links{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

.links a {
  color: white;
  text-decoration: none;
}

.footer-heading{
  color: white;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 767px){
  .footer-container{
    display: none;
  }
}
@media screen and (min-width: 768px){
  .mobile-footer{
    display: none;
  }
}
@media screen and (max-width: 500px){
  .footer-form-button{
    width: 100%;
  }
}
@media screen and (min-width:500px){
  .mobile-footer-content{
    display: flex;
  }
}
