footer{
  background-color: #45522C;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 14px;
}
.footer-container{
  display: flex;
  align-items: center;
}
input.form-control{
  padding: 10px;
  border-radius: 10px;
  max-width: 271px;
  color: #45522C;
}
.footer-form {
  display: flex;
  gap: 10px;
}
.footer-form-button{
  padding: 10px;
  border-radius: 10px;
  width: 15%;
  background-color:#B5C18E ;
  color:#45522C ;
}
.social-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
}
.links{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}


.links a {
  color: white;
  text-decoration: none;
}

.footer-heading{
  color: white;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 745px){
  footer{
    padding-top: 25px;
    padding-bottom: 10px;
  }
  input.form-control{
    padding: 6px;
    border-radius: 10px;
    width: 150px;
    
  }
  .footer-form {
    gap: 6px;
  }
  .footer-form-button{
    padding: 6px;
    width: auto;
    
  }
  .social-links{
    gap: 10px;
  }
  .links{
    gap: 10px;
  }
  .footer-heading{
    font-size: 14px;
  }

}