<app-header></app-header>

<div class="mainsection">
    <div class="mainsection-top">
        <img src="assets/ify.jpg" alt="girlpicture">
          <div class="wordify">
            <h3>Ifeoma Gregory</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Laoreet eget molestie mus a sapien tempus arcu lectus. Nunc ullam<br>
             corper sem imperdiet dignissim neque viverra sed amet laoreet. Duis nulla etiam aliquet tellus lacus eget mi. Sed<br>
             ac dapibus magna vulputate malesuada eu felis. Id sem cras dis nisl interdum id. Lorem ipsum dolor sit amet<br>
              consectetur. Laoreet eget molestie mus a sapien tempus arcu lectus. Nunc ullamcorper sem imperdiet dignissim<br>
               neque viverra sed amet laoreet. Duis nulla etiam aliquet tellus lacus eget mi. Sed ac dapibus magna vulputate<br>
                malesuada eu felis. Id sem cras dis nisl interdum id.
            </p><br>
            <button>See More</button>
           </div>
        
    </div>
    <div class="mainsection-bot">
        <div class="mainsection-bot-right">
            <img src="assets/afang.jpg" alt="soup">
            <div class="word">
                <h3>Afang Soup</h3>
            <button class="blueb">Delete recipe</button><br>
            <button>Edit recipe</button>
            </div>
            
        </div>
        <div class="mainsection-bot-left">
            <img src="assets/yam.jpg" alt="porridge">
            <div class="word">
                <h3>Porridge Yam</h3>
            <button class="blueb">Delete recipe</button><br>
            <button>Edit recipe</button>
            </div>
            
        </div>
    </div>
</div>
<section class="yamig">
<img src="assets/yam.jpg">

<div>
    <h3>Porridge Yam</h3>
    <p>Preparation time: 20 minutes</p>
    <p>- Cooking time: 25-30 minutes</p>
    <p>- Total time: 45-50 minutes</p>

    <div>
        <h3>Ingredients</h3>
        <ul>
            <li>1 medium yam tuber</li>
            <li>1 red bell pepper</li>
            <li>1 large tomato</li>
            <li>1 habanero pepper</li>
            <li>1 large onion</li>
            <li>3 cups water</li>
            <li>1/2 cup fresh palm oil</li>
            <li>2 tablespoons crayfish</li>
            <li>1 teaspoon salt</li>
            <li>2 teaspoons chicken bouillon powder</li>
            <li>15 ounces fish (optional)</li>
            <li>Leafy vegetables (optional)</li>
        </ul>
    </div>
    <div>
        <h3>Instruction:</h3>
        <ol>
            <li> Peel and cut the yam tuber into large chunks and rinse them until the water runs clear.</li>
            <li>In a blender, combine the bell pepper, habanero pepper, tomato and half of the onion.</li>
            <li>In a large pot, combine the yams, the blended pepper mix, salt, bouillon powder and water.</li>
            <li>Cover and cook the mixture on medium to high heat for 10 minutes.</li>
            <li>Stir in the palm oil, crayfish and the rest of the onions.</li>
            <li>Cover the pot again and cook the mixture for another 10 minutes.</li>
            <li>Mash the yams with a potato masher or a large serving spoon. Leave some chunks for texture.</li>
            <li>Add fish and simmer the mixture for 3 to 5 minutes.</li>
            <li>Stir in the herbs and leafy greens.</li>
            <li>Serve the dish while it's still hot.</li>
        </ol>
    </div>
    <div class="btt">
        <button>Save Recipe</button>
        <button class="otd">Cancel</button>
    </div>
</div>
</section>
<app-footer></app-footer>







