.navbar-container {
  background-color: #F0F3E8;
}

.navbar-container .logo {
  width: 100%;
  max-width: 160px;
}

.nav-input-container {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.nav-input {
  min-height: 40px;
  padding: 12px 14.73px 11px 20px;
  border-radius: 30px;
  width: 100%;
}

.nav-input::placeholder {
  color: #959DA5;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 0;
  transform: translateY(50%);
}

.nav-links {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 32px;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.user .user-icon {
  width: 24px;
  height: 24px;
}


.navbar-content {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  gap: 20px;
}

.login {
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
padding: 9px 19px 9px 17px;
border-radius: 10px;
background-color: #B5C18E;
}

  .cuisine {
      padding: 50px 0;
      text-align: center;
    }
    
    .cuisine h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    .cuisine-options {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
    
    .cuisine-options option {
      width: 200px;
      margin: 10px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
      padding: 15px;
    }
    
    .cuisine-options img {
      width: 162px;
      height: 171px;
      object-fit: cover;
      border-radius: 100%;
      display: inline-block;
      margin-right: 15px;
    }
    .recipes{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .leftimg{
      width: 60%;
      height: 750px;
      margin-left: 200px;
    }
    
    .card{
      display: flex;
      flex-direction: row;
      
    }
    
    
    .card img{
      height: 160px;
      width:160px ;
      margin-bottom: 15px;
      margin-right: 10px;
    }
    .about{
      margin-left: 200px;
    }
    .about button{
      width: 40%;
      padding: 10px;
      background-color: #B5C18E;
      color: white;
      border-radius: 20px;
      margin-bottom: 30px;
      outline: none;
    }

    @media screen and (max-width: 768px){
    .cuisine h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .cuisine-options option {
      width: 100px;
      margin: 10px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
      padding: 10px;
    }
    .cuisine-options option h3{
      font-size: 23px;

    }
    .cuisine-options img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
      display: inline-block;
      margin-right: 15px;
    }
    .hide-img-only{
      display: none;
    }
    .recipes{
      grid-template-columns: 100%;
    }
    .leftimg{
      display: none;
    }
    .recipes{
      margin-left: 40px;
    }
    .about{
      margin-left: 0;
    }
  }