.header {
    background-color:#F0F3E8;
    color: rgb(9, 8, 8);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .search button {
    padding: 8px 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-link a:hover {
    text-decoration: underline;
  }
  .cuisine {
      padding: 50px 0;
      text-align: center;
    }
    
    .cuisine h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    .cuisine-options {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
    
    .cuisine-options option {
      width: 200px;
      margin: 10px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
      padding: 15px;
    }
    
    .cuisine-options img {
      width: 162px;
      height: 171px;
      object-fit: cover;
      border-radius: 100%;
      display: inline-block;
      margin-right: 15px;
    }
    .recipes{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .recipes img{
      width: 500px;
      height: 600px;
      margin-left: 200px;
    }
    
    .card{
      display: flex;
      flex-direction: row;
      
    }
    
    
    .card img{
      height: 160px;
      width:160px ;
      margin-bottom: 15px;
      margin-right: 10px;
    }
    .about{
      margin-left: 200px;
    }
    .about button{
      width: 40%;
      padding: 10px;
      background-color: #B5C18E;
      color: white;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    