.baby{
  background: url('/assets/herohomepage.jpg');

  width: 100%;
  padding:7% 0;


}
.boddy{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
p{
  margin: 10px 0;
}
h1{
  font-size: 64px;
  font-weight: 700;
}
.container{
  display: flex;
}
button{
  margin-right: 10px;
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  background-color: #344319;
  color: white;
}
.bts button{
  background-color: white;
  color: #344319;
}
@media screen and (max-width: 768px){
  .boddy{
    width: 80%;
  }
  h1{
    font-size: 36px;
  }
}

@media screen and (max-width: 500px){
  .boddy{
    width: 90%;
  }
}