<div class="hero">
  <div class="hero-content">
    <h1 class="hero-title">INSPIRE YOUR INNER CHEF</h1>
      <p class="hero-text my-3">Your ultimate culinary companion for creating delicious, personalized recipes with ease. Whether<br>
        you're a seasoned chef or a kitchen novice, we help you craft meals that suit your taste and<br>
        dietary preferences perfectly.</p>
    <div class="hero-buttons text-center mt-4">
      <button class="btn hero-btn-transparent">Add Recipe</button>
      <button class="btn hero-btn-white">Browse Recipe</button>
    </div>
  </div>
</div>
