<div class="demtips">
    <div class="popup">
    <a class="close" href="#">&times;</a>
    <h4>Tips and Technigues</h4>
    <p>Cool tips and tricks to make your cooking faster and tastes like a Pro</p>
    <div class="tired">
        <img src="assets/pasta.jpg" alt="italian">
        <div class="inside">
            <h5>The best Italian tip for<br>an amazing pasta</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis </p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/smoky.jpg" alt="jollof">
        <div class="inside">
            <h5>How to make the best<br> 
                smoky jollof.</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend <br>
               mauris bibendum luctus lobortis </p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/salad.jpg" alt="dressing">
        <div class="inside">
            <h5>My No 1 secret to the<br>
                perfect salad dressing </h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis</p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/Steak.jpg" alt="meaty">
        <div class="inside">
            <h5>Best temperature for<br>
                a perfect steak</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis</p>
        </div>
    </div>
</div>
</div>
