.terms .social-icon{
    width: 24px;
    height: 24px;
}
.modal-body{
    background-color: white;
    color: red;
  }

@media screen and (max-width: 745px){
    .auth-section-right{
        display: none;

    }
    .auth-section{
        display: grid;
        grid-template-columns: 100%;

    }

  }
