
<div class="container">
    <header class="logo-container">
      <img src="assets/logo.png" width="150" class="logo" alt="" srcset="">
    </header>
    <div class="reset-password-content">
      <div class="auth-section-title-container">
        <h3 class="auth-section-title">
          Set up a new Password
        </h3>
        <p>Enter your new password</p>
      </div>
      <div>
        <form [formGroup]="resetform">
            <div class="formp">
                <label for="password" class="form-label fw-medium"> Password</label>
                <input type="password" class="form-control rounded-3 border-green" id="newPassword" formControlName="newPassword" placeholder="Password">
            </div>
          <div class="formp">
              <label for="confirmpassword" class="form-label fw-medium">Confirm Password</label>
              <input type="password" class="form-control rounded-3 border-green" id="confirm_password" formControlName="confirm_password" placeholder="Confirm Password">
          </div>
  
          <div class="form-footer text-center">
            <button type="button" (click)="submit()" class="btn auth-btn">Complete</button>
          </div>
      </form>
      </div>
    </div>
  </div>

  <ng-template #modalcontent let-modal>
    <div class="modali">
    <div class="modal-header">
      <img src="assets/Ellipse 21.jpg" alt="good">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h1><strong>SUCCESS</strong></h1>
      <p><strong>You have successfully reset your password</strong></p>
    </div>
    <div class="bottom">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')" routerLink="/login">Continue to sign in</button>
    </div>
  </div>
  </ng-template>
