<div class="fp">
    <div class="head">
    <h3>Set up a new Password</h3>
            <p>Enter your new password</p>
    </div>


    <div>
    <form [formGroup]="resetform">
        <div class="formr">
            <label for="password">Password</label><br>
            <input type="password" class="formcontrol" id="password" formControlName="password" placeholder="Enter your password">
        </div>
        <div class="formr">
            <label for="password">Confirm Password</label><br>
            <input type="password" class="formcontrol" id="password" formControlName="password" placeholder="Enter your password">
        </div>
        <button type="button" (click)="submit()" class="">Complete</button>
    </form>
   </div>
</div>
<app-footer></app-footer>
