
<div class="container">
    <header class="logo-container">
      <img src="assets/logo.png" width="150" class="logo" alt="" srcset="">
    </header>
    <div class="reset-password-content">
      <div class="auth-section-title-container">
        <h3 class="auth-section-title">
          Set up a new Password
        </h3>
        <p>Enter your new password</p>
      </div>
      <div>
        <form [formGroup]="resetform">
            <div class="formp">
                <label for="password" class="form-label fw-medium"> Password</label>
                <input type="password" class="form-control rounded-3 border-green" id="password" formControlName="password" placeholder="Password">
            </div>
          <div class="formp">
              <label for="confirmpassword" class="form-label fw-medium">Confirm Password</label>
              <input type="password" class="form-control rounded-3 border-green" id="confirmpassword" formControlName="confirmpassword" placeholder="Confirm Password">
          </div>
  
          <div class="form-footer text-center">
            <button type="button" (click)="submit()" class="btn auth-btn">Complete</button>
          </div>
      </form>
      </div>
    </div>
  </div>
