<app-header></app-header>
<app-hero></app-hero>

<div class="mainsec">
    <div class="mainsec-left">
        <div class="container">
            <img src="assets/berry.jpg" alt="parfait">
            <div class="others">
                <h3>Berry Parfait</h3>
            <p>Greek yoghurt layered with fresh berries,<br>granola, and honey.</p>
            </div>
            
        </div>
        <div class="container">
            <img src="assets/oats.jpg" alt="oat">
            <div class="others">
                <h3>Overnight Oats</h3>
            <p>A jar filled with rolled oats, milk, and your <br>choice of nuts, seeds, or fruit, refrigerated<br> overnight and served chilled.
            </p>
            </div>
        </div>
        <div class="container">
            <img src="assets/sandwhich.jpg" alt="sanwhiches">
            <div class="others">
                <h3>Breakfast Sandwhich</h3>
            <p>A pre-made sandwich or a quick assembly of<br> a bagel, egg, and cheese.</p>
            </div>
        </div>
        <div class="container">
            <img src="assets/waffles.jpg" alt="waffles">
            <div class="others">
                
                <h3>Waffles</h3>
                <p>Crispy waffles served with a variety of fresh<br> fruits, whipped cream, and syrup.</p>
            </div>
        </div>
        <div class="container">
            <img src="assets/omellete.jpg" alt="omelette">
            <div class="others">
                <h3>Veggie Omelette</h3>
            <p> A fluffy omelette filled with sautéed<br> vegetables</p>
            </div>
            
        </div>
        <div class="container">
            <img src="assets/quiche.jpg" alt="lorraine">
            <div class="others">
                <h3>Quiche Lorraine</h3>
            <p>Savory pie filled with eggs, cream, and<br> lardons </p>
            </div>
            
        </div>
        <div class="container">
            <img src="assets/pudding.jpg" alt="seed">
            <div class="others">
                <h3>Chia Seed Pudding</h3>
            <p>Healthy pudding made with chia seeds, milk,<br> and honey, topped with fresh fruit</p>
            </div>
            
        </div>

    </div>
    <div class="mainsec-right">
        <img src="assets/parfait.jpg" alt="berry">
        <h3>Berry Parfait</h3>
        <h3>Cooking time: 5-15 minutes<br>Servings: 1-2</h3>
         <div class="ingds">  
           <h3>Ingredients:</h3>
           <ul>
            <li>400g low-fat vanilla yoghurt</li>
            <li>1/2 cup thickened cream, whipped</li>
            <li>1 tsp finely grated orange rind</li>
            <li>1/2 cup icing sugar mixture, sifted</li>
            <li>250g strawberries, hulled, quartered</li>
            <li>125g raspberries</li>
            <li>125g blueberries</li>
           </ul>
           <p>Instructions:</p>
           <ol>
            <li>Combine yoghurt, cream, orange rind and half the sugar in a bowl</li>
            <li>Combine berries in a bowl. Reserve one-quarter of the mixed berries.<br>
                 using a fork, lightly crush remaining berries. Stir in remaining sugar</li>
            <li>Layer yoghurt mixture and crushed berries in 4 glasses. Cover and<br>
                 refrigerate for 30 minutes, if time permits. Top with reserved berries.</li>
            <li>Serve and enjoy!</li>
           </ol>
         </div> 
    </div>
</div>
<app-footer></app-footer>
