
<div class="demtips">
    <div class="popup">
    <a class="close" href="#">&times;</a>
    <h4>Quick and Easy Recipes</h4>
    <p>Make Breakfast and lunch in a flash</p>
    <div class="tired">
        <img src="assets/famsand.jpg" alt="sandwhich">
        <div class="inside">
            <h5>The best Sandwich<br> for the family</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis </p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/nightoat.jpg" alt="oat">
        <div class="inside">
            <h5>Overnight Oat for<br> the win.</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend <br>
               mauris bibendum luctus lobortis </p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/smoothie.jpg" alt="smoothie">
        <div class="inside">
            <h5>Best healthy smoothie<br> for the go.</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis</p>
        </div>
    </div>
    <div class="tired">
        <img src="assets/noodles.jpg" alt="instant">
        <div class="inside">
            <h5>Quick Noodles.</h5>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                Leo ultrices inhendrerit eleifend<br> 
               mauris bibendum luctus lobortis</p>
        </div>
    </div>
</div>
</div>

