.forgot-password-content {
    width: 100%;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .forgot-password-content .form-footer .auth-btn {
    padding: 10px 24px;
    background-color: #506923;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 60px;
    margin-bottom: 20px;
    width: 80%;
    margin: 40px auto;
  }
  @media screen and (max-width: 745px){
  

  }
  