<div class="fp">
    <div class="head">
    <h3>Forgot Password</h3>
            <p>Enter your email address</p>
    </div>


    <div>
    <form [formGroup]="forgotform">
        <div class="formp">
            <label for="email"><strong>Email Address</strong></label><br>
            <input type="email" class="formcontrol" id="email" formControlName="email" placeholder="Email address">
        </div>
        
        <button type="button" (click)="submit()" class="">Request Recovery Email</button>
    </form>
   </div>
</div>
<app-footer></app-footer>