<div class="fp">
    <div class="head">
    </div>


    <div>

   </div>
</div>
<div class="container">
  <header class="logo-container">
    <img src="assets/logo.png" width="150" class="logo" alt="" srcset="">
  </header>
  <div class="forgot-password-content">
    <div class="auth-section-title-container">
      <h3 class="auth-section-title">
        Forgot Password
      </h3>
      <p>Enter your email address</p>
    </div>
    <div>
      <form [formGroup]="forgotform">
        <div class="formp">
            <label for="email" class="form-label fw-medium">Email Address</label>
            <input type="email" class="form-control rounded-3 border-green" id="email" formControlName="email" placeholder="Email address">
        </div>

        <div class="form-footer text-center">
          <button type="button" (click)="submit()" class="btn auth-btn">Request Recovery Email</button>
        </div>
    </form>
    </div>
  </div>
</div>

<ng-template #modalcontent let-modal>
  <div class=" modali">
	<div class="modal-header">
    <img src="assets/Ellipse 21.jpg" alt="good">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h1><strong>SUCCESS</strong></h1>
    <p><strong>We have sent you a recovery email </strong></p>
	</div>
	<div class="bottom">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Continue</button>
	</div>
</div>
</ng-template>
