.forgot-password-content {
    width: 100%;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }

  .forgot-password-content .form-footer .auth-btn {
    padding: 10px 24px;
    background-color: #506923;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 60px;
    margin-bottom: 20px;
    width: 80%;
    margin: 40px auto;
  }
  .modali{
    text-align: center;
  }
  .modal-header img{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom{
    margin-bottom: 20px;
  }
  p{
    color: gray;
}
.bottom button{
  background-color: #B5C18E;
  color: black;
  border-radius: 20px;
  padding: 7px;
  width: 140px;
}
.modal-header button{
  background-color: white;
  border-color: white;
  width: 10px;
  position: absolute;
  top: 8px;
  right: 16px;
}
  @media screen and (max-width: 745px){


  }

