
    <div class="topsection">
        <div class="topsection-left">
            <h3>Welcome to Your One stop journey Into<br>
                A Never Ending Season of Culinary <br>
                Mastery</h3>
                <div>
                    <form [formGroup]="signupform">
                      <div class="formg">
                        <label for="name">Name</label><br>
                        <input type="text" class="formcontrol" id="name" formControlName="fullname" placeholder="Enter your name">
                      </div>
                      <div class="formg">
                        <label for="email">Email</label><br>
                        <input type="email" class="formcontrol" id="email" formControlName="email" placeholder="Enter your email">
                      </div>
                      <div class="formg">
                        <label for="password">Password</label><br>
                        <input type="password" class="formcontrol" id="password" formControlName="password" placeholder="Enter your password">
                      </div>
                      <div class="formg">
                        <label for="confirm_password">Confirm Password</label><br>
                        <input type="password" class="formcontrol" id="confirm_password" formControlName="confirm_password" placeholder="Confirm password">
                      </div>
                      <div class="lasttwo">
                       <div class="formg">
                        <label for="nationality">Nationality</label><br>
                        <input type="text" class="formcontrol" id="nationality" formControlName="nationality" placeholder="Select Nationality">
                       </div>
                       <div class="formg">
                        <label for="city">City</label><br>
                        <input type="text" class="formcontrol" id="city" formControlName="city" placeholder="Select City">
                       </div>
                      </div>
                     
                    </form>
                    <div class="haha">
                      <button type="button" (click)="submit()" class="">Signup</button>
                      <p>Already have an account? <a routerLink="/login">Login</a></p>
                      <div class="terms">
                        <p>By clicking Signup,you agree to our<br><button>Terms and Conditions</button></p>

                      </div>
                      
                    </div>
                    
                    
                </div>
        </div>
        <div class="topsection-right">
            <img src="assets/Pizza_food.jpg" alt="pizza">
        </div>
 </div>
 <app-footer></app-footer>
      