.auth-section-right::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #45522C80;
    opacity: 0.8;
  }
  .modal-body{
    background-color: white;
    color: red;
  }

  @media screen and (max-width: 745px){
    .auth-section-right{
        display: none;

    }
    .auth-section{
        display: grid;
        grid-template-columns: 100%;

    }

  }
