<div class="auth-section">
  <div class="auth-section-left">
    <div class="container">
      <div class="auth-section-left-content">
        <header class="logo-container">
          <img src="assets/logo.png" width="150" class="logo" alt="" srcset="">
        </header>
        <div>
          <div class="auth-section-title-container">
            <h3 class="auth-section-title">Welcome to Your One stop<br>journey Into
              A Never Ending<br>Season of Culinary
              Mastery</h3>
          </div>
          <div>
            <form [formGroup]="signupform">
              <div class="mb-4">
                <label for="name" class="form-label fw-medium">Full Name</label>
                <input type="text" class="form-control rounded-3 border-green" id="fullname" formControlName="fullname"
                  placeholder="Enter your full name">
              </div>
              <div class="mb-4">
                <label for="email" class="form-label fw-medium">Email</label>
                <input type="email" class="form-control rounded-3 border-green" id="email" formControlName="email"
                  placeholder="Enter your email">
              </div>
              <div class="mb-4">
                <label for="password" class="form-label fw-medium">Password</label>
                <input type="password" class="form-control rounded-3 border-green" id="password"
                  formControlName="password" placeholder="Enter your password">
              </div>
              <div class="mb-4">
                <label for="confirm_password" class="form-label fw-medium">Confirm Password</label>
                <input type="password" class="form-control rounded-3 border-green" id="confirm_password"
                  formControlName="confirm_password" placeholder="Confirm password">
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="mb-4">
                    <label for="country" class="form-label fw-medium">Country</label>
                    <input type="text" class="form-control rounded-3 border-green" id="country"
                      formControlName="country" placeholder="Select Country">
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-4">
                    <label for="city" class="form-label fw-medium">City</label>
                    <input type="text" class="form-control rounded-3 border-green" id="city" formControlName="city"
                      placeholder="Select City">
                  </div>
                </div>
              </div>

            </form>
            <div class="form-footer">
              <button type="button" (click)="submit()" class="btn auth-btn">Sign up</button>
              <p>Already have an account? <a class="link fw-medium" routerLink="/login">Login</a></p>
              <div class="terms">
                <p>By clicking Signup,you agree to our<br><a class="link fw-medium">Terms and Conditions</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-section-right">
    <img src="assets/Pizza_food.jpg" alt="pizza">
  </div>
</div>

<ng-template #modalcontent let-modal>
	<div class="modal-body">
    <h3>Registration Incomplete</h3>
		<p>Sorry, Please fill all fields correctly</p>
	</div>
</ng-template>