.navbar-container {
    background-color: #F0F3E8;
  }
  
  .navbar-container .logo {
    width: 100%;
    max-width: 160px;
  }
  
  .nav-input-container {
    
    max-width: 500px;
    position: relative;
  }
  
  .nav-input {
    min-height: 40px;
    padding: 12px 14.73px 11px 20px;
    border-radius: 30px;
    width: 100%;
  }
  
  .nav-input::placeholder {
    color: #959DA5;
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    top: 0;
    transform: translateY(50%);
  }
  
  .nav-links {
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  
  .user .user-icon {
    width: 24px;
    height: 24px;
  }
  
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    gap: 20px;
  }
  
  .login {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 9px 19px 9px 17px;
  border-radius: 10px;
  background-color: #B5C18E;
  }
  @media screen  and (max-width:768px){
    .menu{
      display: none;
    }
    .navbar-content {
      min-height: 60px;
      gap: 10px;
    }
    .navbar-container .logo {
      max-width: 90px;
    }
    .login {
      font-size: 12px;
      line-height: 16px;
      padding: 5px;
      }
    .nav-input {
        min-height: 40px;
        padding: 7px 14.73px 7px 15px;
        border-radius: 30px;
        width: 100%;
      }
  }