

<div class="mainsection">
    <div class="mainsection-top">
        <img src="assets/ify.jpg" alt="girlpicture">
          <div class="wordify">
            <h3><strong>Ifeoma Gregory</strong></h3>
            <p>Lorem ipsum dolor sit amet consectetur. Laoreet eget molestie mus a sapien tempus arcu lectus. Nunc ullam<br>
             corper sem imperdiet dignissim neque viverra sed amet laoreet. Duis nulla etiam aliquet tellus lacus eget mi. Sed<br>
             ac dapibus magna vulputate malesuada eu felis. Id sem cras dis nisl interdum id. Lorem ipsum dolor sit amet<br>
              consectetur. Laoreet eget molestie mus a sapien tempus arcu lectus. Nunc ullamcorper sem imperdiet dignissim<br>
               neque viverra sed amet laoreet. Duis nulla etiam aliquet tellus lacus eget mi. Sed ac dapibus magna vulputate<br>
                malesuada eu felis. Id sem cras dis nisl interdum id.
            </p><br>
            <button>See More</button>
           </div>
           <!-- <div class="hamburger-menu">
            <button class="hamburger-icon">☰</button>
            <div class="menu-container">
              <ul>
                <li><a href="#"><span class="icon">🔑</span> Account <span class="arrow">▼</span></a></li>
                <li><a href="#"><span class="icon">🔒</span> Privacy <span class="arrow">▼</span></a></li>
                <li><a href="#"><span class="icon">🔔</span> Notification <span class="arrow">▼</span></a></li>
                <li><a href="#"><span class="icon">📌</span> Saved Recipes <span class="arrow">▼</span></a></li>
                <li><a href="#"><span class="icon">❓</span> Help</a></li>
                <li><a href="#"><span class="icon">👥</span> Tell a friend <span class="arrow">▶</span></a></li>
              </ul>
              <a href="#" class="logout">Log out</a>
            </div> -->
          </div>
           
        
    </div>
    <div class="mainsection-bot">
        <div class="mainsection-bot-right">
            <img src="assets/afang.jpg" alt="soup">
            <div class="word">
                <h3>Afang Soup</h3>
            <button class="blueb">Delete recipe</button><br>
            <button>Edit recipe</button>
            </div>
            
        </div>
        <div class="mainsection-bot-left">
            <img src="assets/yam.jpg" alt="porridge">
            <div class="word">
                <h3>Porridge Yam</h3>
            <button class="blueb">Delete recipe</button><br>
            <button><a routerLink="/profile-editrecipe">Edit recipe</a></button>
            </div>
            
        </div>
    </div>

