<div class="confirmmail">
    <div class="first">
        <header class="logo-container">
            <img src="assets/logo.png" width="150" class="logo" alt="" srcset="">
          </header>
    </div>
    <div class="cmail">
        <h3>
           <strong>Confirm your email</strong> 
        </h3>
        <p>
            Check your inbox, something is cooking
        </p>
    </div>
    <div class="second">
        <button type="button" class="btn auth-btn">
            Proceed to Mail
        </button>
    </div>
</div>

