.time{
    display: flex;
    flex-direction: row;
}
form{
    margin-left: 350px;
}
.formadd{
    margin-bottom: 20px;
}
input{
    width: 250px;
    height: 28px;
}
label{
    margin-right: 10px;
    
}
.twotime{
    padding-top: 20px;
}
.twotime input{
    height: 350px;
}