.time{
    display: flex;
    flex-direction: row;
}
form{
    margin-left: 350px;
}
.formadd{
    margin-bottom: 20px;
}
input{
    width: 250px;
    height: 28px;
}
label{
    margin-right: 10px;
    
}
.twotime{
    padding-top: 20px;
}
.twotime input{
    height: 150px;
}
button{
    background-color: green;
    color: bisque;
    
}
h2{
    margin-left: 550px;
}
.thirdtime{
    margin-left: 200px;
}
.me{
    margin-left: 230px;
}